<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <link rel="stylesheet" type="text/css" href="cucumber.css">
    <script type="text/javascript" src="jquery-1.7.min.js"></script>
    <script type="text/javascript" src="scenarios.js"></script>
    <title>Cuukie</title>
  </head>

  <body>
    <div class="cucumber">
      <div id="cucumber-header">
        <div id="label"><h1>Cucumber Features</h1></div>
      </div>
    </div>

    <% @features.each do |feature| %>
      <div class="feature">
        <h2><span class="val">Feature: <%= feature['short_name'] %></span></h2>
        <p class="narrative"><%= feature['description'].join '<br/>' %><bbr/r></p>
        
        <% feature['scenarios'].each do |scenario| %>
          <div class="scenario">
            <span style="display: block;" class="scenario_file"><%= scenario['file_colon_line'] %></span>
            <h3 style="cursor: pointer;" id="scenario_1">
              <span class="keyword">Scenario:</span> <span class="val"><%= scenario['name'] %></span>
            </h3>
            <ol style="display: block;">
              <li id="features_example_feature_7" class="step passed">
                <div class="step_name">
                  <span class="keyword">Given </span>
                  <span class="step val">I am on <span class="param">rubygems.org</span></span>
                </div>
                <div class="step_file"><span>features/step_definitions/example_steps.rb:5</span></div>
              </li>
              <script type="text/javascript">moveProgressBar('75.0');</script>
              <li id="features_example_feature_10" class="step passed">
                <div class="step_name">
                  <span class="keyword">
                    Then 
                  </span>
                  <span class="step val">
                    I should see "
                    <span class="param">
                      Sinatra is a DSL for quickly creating web applications
                    </span>
                    "
                  </span>
                </div>
                <div class="step_file">
                  <span>
                    features/step_definitions/example_steps.rb:17
                  </span>
                </div>
              </li>
              <script type="text/javascript">moveProgressBar('100.0');</script>
            </ol>
          </div>
        <% end %>
      </div>
    <% end %>
    <script type="text/javascript">document.getElementById('duration').innerHTML = "Finished in <strong>0m8.171s seconds</strong>";</script>
    <script type="text/javascript">document.getElementById('totals').innerHTML = "1 scenario (1 passed)<br />4 steps (4 passed)";</script>
  </div>
  </body>
</html>